<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Chesterfields</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        #scroll {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 3000;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #D2AC67;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #scroll:hover {
                background-color: #555;
            }
        #popupboxerrlogin {
            margin: 40%;
            margin-left: 30%;
            margin-top: 50px;
            padding-top: 10px;
            width: 40%;
            height: 200px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            position: fixed;
        }
        #popupboxlog {
            margin: 40%;
            margin-left: 30%;
            margin-top: 50px;
            padding-top: 10px;
            width: 40%;
            height: 300px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            position: fixed;
        }
        #popupboxtq1 {
            margin: 40%;
            margin-left: 30%;
            margin-top: 200px;
            padding-top: 25px;
            width: 40%;
            height: 150px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: Raleway;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            font-size: 10px;
            position: fixed;
        }
        #popupboxtq2 {
            margin: 40%;
            margin-left: 30%;
            margin-top: 200px;
            padding-top: 25px;
            width: 40%;
            height: 200px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: Raleway;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            font-size: 10px;
            position: fixed;
        }
        #popcheckmail {
            margin: 40%;
            margin-left: 30%;
            margin-top: 50px;
            padding-top: 10px;
            width: 40%;
            height: 200px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            position: fixed;
        }
        #poperrforgotpass {
            margin: 40%;
            margin-left: 30%;
            margin-top: 50px;
            padding-top: 10px;
            width: 40%;
            height: 200px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            position: fixed;
        }

        #poproomsnotavaible {
            margin: 40%;
            margin-left: 30%;
            margin-top: 200px;
            padding-top: 25px;
            width: 40%;
            height: 200px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            font-size: 10px;
            position: fixed;
        }
        #popupboxforgot {
            margin: 40%;
            margin-left: 30%;
            margin-top: 50px;
            padding-top: 10px;
            width: 40%;
            height: 400px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            position: fixed;
        }
        #popupboxreg {
            margin: 40%;
            margin-left: 30%;
            margin-top: 0px;
            padding-top: 50px;
            width: 40%;
            height: 900px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
           
        }
        #popnoreserve {
            margin: 40%;
            margin-left: 30%;
            margin-top: 50px;
            padding-top: 10px;
            width: 40%;
            height: 150px;
            position: absolute;
            background: rgba(0,0,0,.9);
            border: solid #000000 2px;
            z-index: 5000;
            font-family: arial;
            visibility: hidden;
            border-radius: 25px;
            color: #D2AC67;
            position: fixed;
        }
        
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 3000;
            cursor: pointer;
        }

        .imghov:hover .imgup {
            transform: translate(0%, -50%);
            cursor: pointer;
            filter: drop-shadow(30px 30px 30px #222);
            z-index: 100
        }

        .imgb1:hover {
            filter: drop-shadow(30px 30px 30px #222);
            transform: scale(1.3);
            z-index: 100
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        .left-slide {
            position: relative;
            animation-name: anime;
            animation-duration: 2s;
            animation-iteration-count: 1;
        }

        @@keyframes anime {
            0% {
                top: 400px;
            }

            100% {
                top: 0px;
            }
        }
        .goog-te-gadget .goog-te-combo {
            width: auto;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>
<body style="background-color:#e8e1d7;font-family: Raleway;overflow-x: hidden;">
    <button onclick="topFunction()" id="scroll" title="Go to top"><i class="fa fa-arrow-up"></i></button>
    <div id="overlay"> </div>
    <nav class="navbar" style="background: transparent; position: fixed; z-index: 1030; margin: 0;
  position: absolute;
    top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto; ">
        <div class="container" style="margin-top: 20px; font-size: 18px; opacity: 0.8 ">
            <div class="col-md-4">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar" style="background-color: white"></span>
                        <span class="icon-bar" style="background-color: white"></span>
                        <span class="icon-bar" style="background-color: white"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index")"><img src="~/Content/images/logo.png" width="70%"></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="collapse navbar-collapse navbar-right" id="myNavbar">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index")">Home</a></li>




                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @{ if (Session["UserName"] == null)
                            {
                                <li><a href="#hotels">Our Hotels</a></li>
                                <li><a href="#package">Our Packages</a></li>
                                <li><a href="javascript:login('Register');"><span class="fa fa-user"></span>Sign Up</a></li>
                                <li><a href="javascript:login('show');"><span class="fa fa-sign-in"></span><span> Log in</span></a></li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-user"></span><span>Welcome, @Session["CustomerName"] </span><i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("MyReservation")">My Reservations</a></li>
                                        <li><a href="@Url.Action("Logout")">Logout</a></li>
                                    </ul>
                                </li>
                                <li style="padding:5px">
                                    @using (Html.BeginForm("displayHotelDetails", "chesterfields", FormMethod.Post, new { }))
                                    {
                                        @Html.DropDownList("Location", new List<SelectListItem>
{
new SelectListItem {Text = "Bangalore"},
new SelectListItem {Text = "Jaipur"},
new SelectListItem {Text = "Greece"},
new SelectListItem {Text = "Bali"},
new SelectListItem {Text = "Agra"},
new SelectListItem {Text = "Maldives"},
new SelectListItem {Text = "Delhi"},
new SelectListItem {Text = "Mumbai"},
new SelectListItem {Text = "Dubai"},
new SelectListItem {Text = "Mussoorie"},
new SelectListItem {Text = "Venice"},
new SelectListItem {Text = "Canada"},
}, "Select Hotel location", new { @class = "form-control form-group", @required = "required", @title = "Enter Location", @onchange = "this.form.submit()" })
                                        @Html.ValidationMessage("Location", null, new { @class = "text-danger", @style = "color:#ffae42" })


                                    }
                                </li> } }

                        <li id="google_translate_element"></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div style="padding-top:30px; background: #000000">
        <div class="container-fluid">

            <div class="container" style="padding:15px; color: #D2AC67; background:#000000">
                <div class="col-sm-4">

                    <h1>Newsletter</h1>

                </div>
                <div class="col-sm-8" style="padding:20px">
                    <input type="text" style="border-radius: 5px; width:70%; height:30px; color: black">
                    <button class="btn " style="background-color:#D2AC67;color:#000000">Submit</button>
                </div>
            </div>;
        </div>
        <hr style="border:0.5px solid #9E9E9E;">
        <div style="background-color: #000000; color: #D2AC67; opacity: 0.8">
            <div class="container" style="padding-top:30px; padding-bottom: 30px ">

                <div class="col-sm-3" style="padding-top:25px;line-height: 1.6;">

                    <h3 style="text-align:center">
                        @{ if (Session["UserName"] != null)
                            {
                                <a href="@Url.Action("AboutUs")" style="color: #D2AC67">About Us</a>
                            }
                            else
                            {
                                <a href="javascript:login('show');" style="color: #D2AC67">About Us</a>
                            } }
                    </h3>

                </div>
                <div class="col-sm-3" style="padding-top:25px;line-height: 1.6;">

                    <h3 style="text-align:center">
                        @{ if (Session["UserName"] != null)
                            {
                                <a href="@Url.Action("PrivacyPolicy")" style="color: #D2AC67">Privacy Policy</a>
                            }
                            else
                            {
                                <a href="javascript:login('show');" style="color: #D2AC67">Privacy Policy</a>
                            } }
                    </h3>

                </div>
                <div class="col-sm-3" style="padding-top:25px;line-height: 1.6;">

                    <h3 style="text-align:center">
                        @{ if (Session["UserName"] != null)
                            {
                                <a href="@Url.Action("ContactUs")" style="color: #D2AC67">Contact Us</a>
                            }
                            else
                            {
                                <a href="javascript:login('show');" style="color: #D2AC67">Contact Us</a>
                            } }
                    </h3>

                </div>
                <div class="col-sm-3" style="padding-top:25px;line-height: 1.6;">

                    <h3 style="text-align:center">

                        @{ if (Session["UserName"] != null)
                            {
                                <a href="@Url.Action("faqs")" style="color: #D2AC67">FAQs</a>
                            }
                            else
                            {
                                <a href="javascript:login('show');" style="color: #D2AC67">FAQs</a>
                            } }
                    </h3>

                </div>
            </div>
            <div class="container" style="padding-top:25px;line-height: 1.6;">
                <center>
                    <h3>Head Branch</h3> <br>
                    Address: Sheraton ,New Delhi ,District Center Saket,New Delhi - 110017 ,India.<br>

                    Email: Chesterfield@gmail.com<br>

                    Phone Number: +919407881654<br>

                    <div style="padding-top:15px">
                        <p style="font-size: 20px">Follow Us on:</p>

                        <a href="https://www.facebook.com"><p style="font-size: 30px; padding-left: 10px" class="fa fa-facebook-official"></p></a>
                        <a href="https://www.instagram.com"><p style="font-size: 30px; padding-left: 10px" class="fa fa-instagram"></p></a>
                        <a href="https://www.linkedin.com"><p style="font-size: 30px; padding-left: 10px" class="fa fa-linkedin-square"></p></a>
                        <a href="https://www.twitter.com"><p style="font-size: 30px; padding-left: 10px" class="fa fa-twitter-square"></p></a>

                    </div>
                </center>
            </div>
            <hr style="border:0.5px solid #9E9E9E;">
            <p align="center" style="padding: 30px"> © 2018 The Chesterfield . All rights reserved | Design by ChesterGroups </p>
        </div>
    </div>
    <script language="JavaScript" type="text/javascript">
        function login(showhide) {

            if (showhide == "show") {
                document.getElementById("overlay").style.display = "block";
                document.getElementById('popupboxlog').style.visibility = "visible";
            } else if (showhide == "hide") {
                document.getElementById("overlay").style.display = "none";
                document.getElementById('popupboxlog').style.visibility = "hidden";
            } else if (showhide == "Register") {
                document.getElementById('popupboxlog').style.visibility = "hidden";
                document.getElementById("overlay").style.display = "block";
                document.getElementById('popupboxreg').style.visibility = "visible";
            }
            else if (showhide == "hidereg") {
                document.getElementById("overlay").style.display = "none";
                document.getElementById('popupboxreg').style.visibility = "hidden";
            }
            else if (showhide == "hideregandlog") {
                document.getElementById("overlay").style.display = "none";
                document.getElementById('popupboxreg').style.visibility = "hidden";
                document.getElementById("overlay").style.display = "block";
                document.getElementById('popupboxlog').style.visibility = "visible";
            }
            else if (showhide == "forgotpassword") {
                document.getElementById('popupboxlog').style.visibility = "hidden";
                document.getElementById("overlay").style.display = "block";
                document.getElementById('popupboxforgot').style.visibility = "visible";
            } else if (showhide == "forgothide") {
                document.getElementById("overlay").style.display = "none";
                document.getElementById('popupboxforgot').style.visibility = "hidden";
            }

        }
        var dateToday = new Date();
        var dates = $("#from, #to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            minDate: dateToday,
            onSelect: function (selectedDate) {
                var option = this.id == "from" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker"),
                    date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });

    </script>

    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("scroll").style.display = "block";
            } else {
                document.getElementById("scroll").style.display = "none";
            }
        }


        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script type="text/javascript">

        (function (global) {

            if (typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";

                // making sure we have the fruit available for juice....
                // 50 milliseconds for just once do not cost much (^__^)
                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            // Earlier we had setInerval here....
            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {

                noBackPlease();

                // disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                        e.preventDefault();
                    }
                    // stopping event bubbling up the DOM tree..
                    e.stopPropagation();
                };

            };


    </script>

  
</body>
</html>